config WIFI
	tristate

config WIFI_SSID
	string "WiFi SSID"
	depends on WIFI

config WIFI_PWD
	string "WiFi password"
	depends on WIFI

config RBOOT_OTA
	tristate

config MQTT
	tristate

config MQTT_USER
	string "MQTT user ID"
	depends on MQTT

config MQTT_PWD
	string "MQTT password"
	depends on MQTT
