config WIFI
	tristate

menu "WiFi settings"
config WIFI_SSID
	string "WiFi SSID"
	depends on WIFI

config WIFI_PWD
	string "WiFi password"
	depends on WIFI
endmenu

config RBOOT_OTA
	tristate

menu "RBoot OTA settings"
config RBOOT_OTA_HOST
	string "rboot OTA host"
	depends on RBOOT_OTA

config RBOOT_OTA_PORT
	int "rboot OTA port"
	default "80"
	depends on RBOOT_OTA
endmenu

config MQTT
	tristate

menu "MQTT settings"
config MQTT_USER
	string "MQTT user ID"
	depends on MQTT

config MQTT_PWD
	string "MQTT password"
	depends on MQTT

config MQTT_HOST
	string "MQTT host"
	depends on MQTT

config MQTT_PORT
	int "MQTT port"
	default "1883"
	depends on MQTT
endmenu
